* {
    margin: 0;
    padding: 0;
}

#title {
    color: rgba(227, 25, 74, 0.67);
    margin-bottom: 0;
}

.section {
    padding: 30px;
}

.button {
    transition: all ease 0.5s;
}

.button:hover {
    background-color: rgba(227, 25, 74, 0.67);
    color: white;
}

.help {
    color: #adadad;
}