<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cocktail Moa</title>
    <link
            rel="shortcut icon"
            href="/static/logo.png"
            type="image/x-icon"
    />
    <script
            src="https://kit.fontawesome.com/827eb37611.js"
            crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/review.css"/>
</head>
<body>
<header class="header">
    <div class="header__left">
        <a href="/">
            <div class="logo">
                <img src="../static/logo.png"/>
            </div>
        </a>
        <label>
            <input
                    id="search"
                    class="search"
                    type="text"
                    onkeyup="filter()"
                    placeholder="검색어를 입력 해주세요."
            />
        </label>
    </div>
    <div class="header__right">
        <div class="myNickName">{{ nickname }}</div>
    </div>
</header>
{% for item in result %} {% if word == item['idDrink'] %}
    <main>
        <div class="review_name">{{ item['strDrink'] }}</div>
        <div class="review_content">
            <div class="review_img ckindex" data-idx="{{ item['idDrink'] }}">
                <img src="{{ item['strDrinkThumb'] }}"/>
            </div>
            <div class="review-group"></div>
        </div>
    </main>
{% endif %} {% endfor %}

<div class="card-group"></div>
</body>
<script src="/static/review.js"></script>
</html>
